<div class="container">
    <h1 class="text-center page-title">GET AN ANSWER</h1>
    <div class="row">
        <div class="span12">
            <form class="form-horizontal" method="post" action="/search">
                <fieldset>
                    <legend class="text-center">Like you're five.</legend>
                    <div class="control-group">
                        <div class="controls text-center">
                            <input name="user_query" placeholder="What would you like to know?" type="text" class="input-large"/>
                            <button type="submit" class="btn btn-primary">Ask</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>