<div class="container">
    <div class="row">
        <div class="span12">
            <form class="form-horizontal" method="post" action="/search">
                <fieldset>
                    <legend>Here's your search result</legend>
                    <div class="control-group">
                        <div class="controls">
                          <p><h4><%= @query %></h4></p><br><br>
                        </div>
                        <div class="controls">
                          <p><%= @result %></p>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
